global_modules:
  - plugin_ping_pong
  - dispatcher
  - sync_plugin

SyncEntitiesViaMqtt:
  module: sync_entities_via_mqtt
  class: SyncEntitiesViaMqtt
  myhostname: haven # no dashes
  state_for_entities:
      - input_select.home_state 
  disable: false
  global_dependencies:
    - plugin_ping_pong
    - dispatcher
    - sync_plugin

TestSyncEntitiesViaMqtt:
  module: test_sync_entities
  class: TestSyncEntitiesViaMqtt
  disable: true
  dependencies: 
    - SyncEntitiesViaMqtt
